<div>
    <div >
        <div>
            <div >
                <div >
                    <p >Book Ticket</p>
                    <div >
                        <div > 
                            <form > 
                                <div >
                                    <div >
                                        <label >From Station</label>
                                        <select>
                                            <option value="">From Station</option>
                                            <option value="">Pune</option>
                                            <option value="">Nagpur</option>
                                            <option value="">Mumbai</option>
                                        </select>
                                    </div>
                                    <div >
                                        <label >To Station</label>
                                        <select>
                                            <option value="">To Station</option>
                                            <option value="">Pune</option>
                                            <option value="">Nagpur</option>
                                            <option value="">Mumbai</option>
                                        </select>
                                    </div>
                                </div>
                                <div>
                                    <div >
                                        <label for="form3Example4c">Date Of Travel</label>
                                        <input type="date"  /> 
                                    </div>
                                </div> 
                                <div>
                                    <button type="button">Search</button>
                                </div> 
                            </form> 
                        </div>
                        <div >

                            <img src="../../../assets/banner-2.png"
                                 alt="Sample image">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>